@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--body-bg-color);
    color: var(--font-color);
}

nav ul {
    list-style: none;
}
nav ul > li {
    display: inline-block;
}
nav ul li:not(:last-child) {
    margin-right: 20px;
}

.links div:not(:last-child) {
    margin-bottom: 10px;
}